
@model X.PagedList.IPagedList<QuanLyNhanVien.Models.ChiTietNhanVien>
@using X.PagedList.Mvc.Core;



@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    Nhập tên: <input type="text" name="search" /> <button>Tìm</button>

</form>
<table class="table">
    <thead>
        <tr>
            
            <th>
                Tên:
            </th>
            <th>
                Địa chỉ:
            </th>
            <th>
                Số điện thoại:
            </th>
            <th>
                Chức vụ:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
}
    </tbody>
</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", "NhanViens", new { page }))